*{
    box-sizing: border-box;
}

.dropdown{
    background-color: aqua;
}

.dropdown-btn{
    display: inline-block;
    padding: 1em;
}

.dropdown-container{
    position:relative;
    display: inline-block;
    background-color: aquamarine;
}

.dropdown-links{
    background-color: burlywood;
    padding: 1em;
    width:50vw;
    position: absolute;
    top:0px;
    left:0px;
}